
/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /*CORES*/
    --cor0: #EDEBDD;
    --cor1: #810100;
    --cor2: #630000;
    --cor3: #1B1717;

    /*FONTES*/
    --fonte-titulo: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    --fonte-padrao: 'Lato', 'Arial', 'Helvetica', sans-serif;
    
}

/*PADRONIZAÇÃO*/
* {
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100vh;
    width: 100wh;

    font-family: var(--fonte-padrao);
}

/*HEADER*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 500px;
    width: 100%;
    

    background-image: url(images/headimage.jpg);
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
}

/*menu*/
div#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    margin: 0px 5px;
    padding: 20px 0px 0px 0px;
}

header a {
    text-decoration: none;
    text-align: center;;

    font-weight: bold;
    font-size: 1em;

    margin: 5px;

    color: white;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.200);
}
nav#acessos > a:hover {
    color: var(--cor1);
}

span#logo { 
    color: white;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.200);
}
/*botao*/
a#botao1 {
    background-color: transparent;

    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.200);

    text-align: center;
    text-shadow: none;
    font-weight: normal;

    padding: 5px 10px 5px 10px;    
}
a#botao1:hover {
    background-color: rgba(255, 255, 255, 0.350);
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.100);
}

a#botao2 {
    background-color: var(--cor2);

    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.200);

    text-shadow: none;
    font-weight: normal;

    padding: 7px 10px 7px 10px;
}
a#botao2:hover {
    background-color: #810100;
    box-shadow: 1px 1px 15px rgba(97, 0, 0, 0.350);
}

/*titulo cabeçalho*/
div#titulocabecalho {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: calc(80% - 90px);

    color: white;

    font-family: var(--fonte-titulo);
    font-size: 2.1em;
    text-align: center;
}

div#titulocabecalho > h1 {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.500);
}

/*MAIN*/

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;

    padding: 30px 0px 10px 0px; 
}
/*Apresentação/frase*/
/*frase*/
main > p {
    text-align: center;
    font-weight: bold;

    margin-bottom: 30px;
}
/*apresentação*/
div#aprensentacao {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: var(--cor2);

    padding: 30px 20px;
    margin: 0px;
}

div#imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 300px;
    height: 230px;
    
    border-radius: 15px 15px 0px 0px;
    box-shadow: -1px 5px 20px #310000b0;
}
div#imagem > img { 
    width: 100%;
    height: 100%;

    object-fit: cover;
}
div#aprensentacao > p {
    color: var(--cor0);

    text-align: center;

    padding-top: 20px;
}

/*Portifólio*/

main > h2 {
    align-self: flex-start;

    font-family: var(--fonte-titulo);
    font-size: 2.1em;

    margin: 20px 10px;
}

div#portifolio {
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--cor0);


    border-radius: 30px 30px 0px 0px;
}
div.caixa {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;


    padding-bottom: 0px;
    margin: 30px 25px 20px 25px;
    border-radius: 20px;

    background-color: white;
}
div.fotos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 200px;
    margin:  30px 20px 20px 20px;

    background-color: #630000;
}
div.fotos > img { 
    width: 100%;
    height: 100%;

    object-fit: cover;
}
div.textofotos {
    display: flex;
    flex-flow: column;

    color: var(--cor3);

    margin: 0px 30px 30px 30px;
}
div.textofotos > h3 {
    margin-bottom: 10px;
}
div.textofotos > p {
    margin-bottom: 20px;

    font-size: .9em;
}
div.textofotos > a {
    text-decoration: none;
    text-align: center;
    font-weight: normal;

    padding: 11px 20px 11px 20px ;
    border-radius: 30px;

    background-color: var(--cor3);
    color: white;
}

/*Serviços*/
div#servico {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 30px 0px;

    background-color: var(--cor2);
}
div#servico > h2 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: white;
    text-shadow: 0px 7px 6px #380000;
    
    margin-bottom: 30px;
}
div.planos {
    margin: 10px;
    padding: 30px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 11px 3px #380000;
}
div.planos > h2 {
    margin-bottom: 10px;

    font-family: var(--fonte-titulo);
    font-size: 2em;
    
    text-align: center;

    color: var(--cor3);
}
div.planos > p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;    

    color: var(--cor3);

    margin-bottom: 20px;
}
div.planos > h3 {
    text-align: center;

    color: var(--cor3);
}
div.planos > ul {
    list-style-type: none;
}
div.planos > ul > li {
    font-size: 1em;

    margin-bottom: 10px;

    color: var(--cor3);
}

/*FOOTER*/
footer { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: -4px 0px 20px 0px;
    border-radius: 20px 20px 0px 0px;

    background-color: var(--cor3);
}
footer > h1 {
    margin-top: 10px;

    font-family:var(--fonte-titulo);
    
    color: var(--cor0);

}
footer > p {
    margin: 5px;

    color: var(--cor0);
}